:root{
    --color-text: #fff;
    --color-primary: #404363;
    --color-secondary: #19376d;
    --color-dark: #0b2446;
    --color-background: #04152d;
    /*background color of about section: #22559b*/
    
    --font-roboto: "Roboto";
}